<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.amoled.newsgits">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".activity.DetailNewsActivity"
            android:label="Detail News"
            android:theme="@style/NoToolbar" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BusinessActivity"
            android:label="Business"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EntActivity"
            android:label="Entertainment"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.HealthActivity"
            android:label="Health"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ScienceActivity"
            android:label="Science"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.SportsActivity"
            android:label="Sports"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.TechActivity"
            android:label="Technology"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.HeadlineActivity"
            android:label="Headline"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>